*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EBF5FB;
    font-family: ;
}

header{
    text-align: center;
    padding: 5% 0 0 0;
}

h1{
    font-size: 300%;
    color: #2874A6;
}

h2{
    font-size: 200%;
    margin: 1% 0;
    color: #2874A6;
}

h3{
    font-size: 150%;
    color: #2874A6;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.numberContainer, .sizeContainer{
    width: 40%;
    text-align: center;
    border: 2px teal solid;
    margin: 5%;
    padding: 1%;
    background-color: #D6EAF8;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blankNumber, .blankSize{
    width: 20%;
    padding: 10px;
    margin: 10px;
    border: 2px teal solid;
    color: darkorchid;
    cursor: pointer;
    background-color: white;
}

.blankNumber:hover, .blankSize:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 2.5px grey;
}

.highlight{
    background-color: teal;
    color: white;
    width: 20%;
    padding: 10px;
    margin: 10px;
    border: 2px white solid;
    transform: scale(1.1);
    box-shadow: 5px 5px 2.5px grey;
}

button{
    padding: 10px;
    color: teal;
    background-color: white;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 30px;
    border-width: 3px;
    cursor: pointer;
}

button:hover{
    border-width: 5px;
    color: white;
    background-color: teal;
}

.alert{
    font-family: monospace;
    font-size: 40px;
    color: #2874A6;
    margin-bottom: 1%;
    text-align: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}

@media screen and (max-width: 992px) {

    .mainContainer{
        flex-direction: column;
        align-items: center;
    }

    .numberContainer, .sizeContainer{
        width: 90%;
    }

    .blankNumber, .blankSize{
        width: 33.33%;
    }

    .highlight{
        width: 33.33%;
    }
  }